<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>Insert title here</title>
<link href="/css/ptuketuke.css" th:href="@{/css/ptuketuke.css}" rel="stylesheet">
</head>
<body>
<script type="text/javascript" src="/js/index.js"></script>
    <!--  ここにヘッダ項目を追加 -->
	<div><p>受付一覧</p></div>
	<table class="list">
	  <tbody><tr>
		  <th class="r1" style="width: 5%">受付No</th>
  	    <th class="r1" style="width: 20%">受付日</th>
  	    <th class="r2" style="width: 12%">病院名</th>
  	    <th class="r2" style="width: 18%">医者名</th>
	  </tr>
	  <tr th:each="list:${list}">
	    <td><a href="/ptuketuke" th:href="@{/ptuketuke}" th:text="${list.ukeNo}"></a></td>
	    <td th:text="${list.receiptDate}"></td>
	    <td th:text="${list.hpName}"></td>
	    <td th:text="${list.drName}"></td>
	  </tr>
	</tbody></table>
	<br>
	<div class="button">
		<a href="./ptuketuke" class="btn-circle-flat">新規登録</a>
	</div>
</body>
</html>
			